.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!syntaxes/**
!snippets/**
!language-configuration.json
!package.json
!README.md
!LICENSE
!icon.png
